<head>
    <title>Flashcards</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/grupos_alumno.css" />
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:500italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oswald:700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
    <script src="js/jquery-1.11.3.js" type="text/javascript"></script>
    <script src="js/misGrupos.js" type="text/javascript"></script>
</head>
<body>
	<div align=left id="header">
		<img src="img/small-logo.png"/> <label id="title">CEREBRATON</label>
        <label id="nusuario"> Bienvenido </label>
    </div>
    <div id="body" align=center>
        <div id="tituloSeccion">
        Grupos
        </div>
        <div id="inicial">
        <div id="gpo">
            <table id="concentrado">
                <th> Clave </th>
                <th> Nombre </th>
                <th> Descripción </th>
                <th>  </th>
                <th>  </th>
                <% for(var i=0; i < grupos.length; i++) { %>
                    <tr>
                        <td> 
                            <%= grupos[i].id_grupo%>
                        </td>
                        <td>
                            <%= grupos[i].nombre%>
                        </td>
                        <td>
                            <%= grupos[i].descripcion%>
                        </td>
                        <td>
                            <input type="submit" value="Tomar Examen" onclick="examen('<%= grupos[i].id_grupo%>');"/> &nbsp;
                        </td>
                        <form action="/verMaterial" method="POST">
                        <td>
                            <input type="hidden" value=<%= grupos[i].id_grupo%> name="idGrupo" />
                            <input type="submit" value="Ver Materiales"/> &nbsp;
                        </td>
                        </form>
                    </tr>
                <% } %>
                <% for(var i=0; i < consultas.length; i++) { %>
                    <tr>
                        <td> 
                            <%= consultas[i].id_grupo%>
                        </td>
                        <td>
                            <%= consultas[i].nombre%>
                        </td>
                        <td>
                            <%= consultas[i].descripcion%>
                        </td>
                        <form action="/verMaterial" method="POST">
                        <td>
                            <input type="hidden" value=<%= consultas[i].id_grupo%> name="idGrupo" />
                            <input type="submit" value="Ver Materiales"/> &nbsp;
                        </td>
                        </form>
                        <td>
                        </td>
                    </tr>
                <% } %>
            </table>
            <a href="Home.html" style="color: #000;">Regresar</a>
        </div>
        </div>
    </div>
</body>